<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backendUrl</key>
	<string></string>
	<key>iframeUrl</key>
	<string></string>
	<key>openfortPublishableKey</key>
	<string>pk_test_c09d1122-5d0a-59cd-a2e1-a15fec62fdfe</string>
	<key>shieldPublishableKey</key>
	<string>41d616bd-8886-4387-a1ea-a66c94b88760</string>
	<key>shieldUrl</key>
	<string></string>
	<key>debug</key>
	<true/>
</dict>
</plist>
